<plugin>
<name>Soundings</name>
<package>soundings</package>
<directoryFormat>packageOnly</directoryFormat>
<version>4.5.2</version>
<provider>Ray Camden</provider>
<providerURL>http://blueriver.com</providerURL>
<category>Application</category>
<settings/>
<displayobjects location="global">
	<displayobject name="Active Surveys" displayobjectfile="index.cfm"/>
</displayobjects>
</plugin>
